{% extends 'base.html' %}

{% block title %}
    Ваше расписание
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 80px; ">
            <div class="col-lg" style=" margin-left: 30px;">
                <div class="col-lg-2">
                    <div  style="margin-left: 30%; font-family: 'Orelega One', cursive; color: #c1d6cc">
                        <div style="width: 500px; left: 0;right: 0;">
                            Занятое время на студии "{{ studio.name }}" :
                            {% for session in sessions %}
                                <div class="card bg-dark " style="width: 600px; color: black; margin-bottom: 10px; margin-top: 10px;">
                                  <ul class="list-group list-group-flush bg-gradient bg-dark">
                                    <li class="list-group-item" >Студия: "{{ session.studio.name }}" Дата: {{ session.date }} | Время: {{ session.time }}:00 | Кол-во часов: {{ session.count_hours }} </li>

                                  </ul>
                                </div>
                            {% empty %}<br><br><br><br>
                                Занятого времени у вас пока что нет!<br>
                                Скорее бронируй :)
                            {% endfor %}
                         <div>
                             <a class="btn btn-info" href="{% url 'print_user_pdf' user.id %}">Распечатать</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}